<%- include("./partials/header") %>
    <% capitalize=function(string){ %>
        <% return string.charAt(0).toUpperCase() + string.slice(1); %>
    <% } %>
    <% reduce = function(string){ %>
        <% if(string.length >= 40){ %>
        <% return `${string.substring(0, 40)}...`; %>
        <% } else { %>
        <% return string %>
        <% } %>
    <% } %>
    <div class="container">
            <div class="col-md-12 blog-main my-4 postDiv">
                <div class="blog-post">
                    <h2 class="blog-post-title"><%- capitalize(post.title) %></h2>
                    <hr>
                    <p><%= post.body %></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-primary" href="#" onclick="showRecentsPosts()">Ver posts mais recentes</a>
                </nav>
            </div><!-- /.blog-main -->
            <% posts.forEach((post)=> { %>
                <div class="col-md-12 my-2 postsDiv" style="display: none;">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-2">
                                <%- capitalize(post.title) %>
                            </h3>
                            <p class="card-text mb-2"><%- reduce(post.body)%></p>
                            <a href="/post/<%=post.id%>">Saiba mais</a>
                        </div>
                    </div>
                    <% }) %>
                    <nav class="blog-pagination">
                        <a class="btn btn-primary" href="#" onclick="showOpennedPost()">Voltar ao post</a>
                    </nav>
            </div>
    
    <script>
        function showRecentsPosts(){
            var postDiv = document.querySelectorAll('.postDiv');
            postDiv.forEach(element => {
                element.style.display = 'none'
            });

            var postsDiv = document.querySelectorAll('.postsDiv');
            postsDiv.forEach(element => {
                element.style.display = 'block'
            });
        }

        function showOpennedPost(){
            var postDiv = document.querySelectorAll('.postDiv');
            postDiv.forEach(element => {
                element.style.display = 'block'
            });

            var postsDiv = document.querySelectorAll('.postsDiv');
            postsDiv.forEach(element => {
                element.style.display = 'none'
            });
        }

    </script>

<%- include("./partials/footer") %>